body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 100px;
}
h2{
    color: #1168bf;
}
.img img {
    width: 500px;
    gap: 100px;
}
.login {
    width: 500px;
    border: 3px solid #73AD21;
    text-align: center;
    font-size: 20px;
    padding: 30px 10px;
    row-gap: 10px;
  }
  
  .login input {
      border:none;
      padding: 5px 10px;
      border-bottom: 1px solid green;
  
  }

  #btn1 {
    border: 0.5px solid #2E8B57;
    background: none;
    padding: 10px 20px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    margin: 20px;
    transition: 0.5s;
    
}
#btn2 {
    border: 0.5px solid #2E8B57;
    background: none;
    padding: 10px 20px;
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    transition: 0.5s;
    
}

#btn1:hover {
    background-color: #1168bf;
    color: black;
}

#btn2:hover {
    background-color: #dd0d0d;
    color: black;
}