@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
}

.login-content .img img{
    display: block;
    margin: -90px auto;
    height: 500px;
    width: 500px;

}

.login-content{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}
.header {
    width: 100%;
    padding: 25px 12.5%;
    background: rgb(89, 129, 238);
    display: flex;
    justify-content: space-between;
    align-items: center;    

}

.navbar a {
    position: relative;
    font-size: 16px;
    color: rgb(83, 27, 108);
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
} 

.search-bar{
    width: 250px;
    height: 38px;
    background: transparent;
    border: 1px solid rgb(233, 231, 231);
    border-radius: 6px;
    display: flex;
    align-items: center;

}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    border-radius: 1px;
    outline: none;
    font-size: 16px;
    color: #070707;
    margin: 10px;
    
}

.search-bar input::placeholder {
    color: rgb(12, 12, 12);
    
}

.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i {
    font-size: 22px;
    color: #0e3768;

}

html{
    font-size: 62.5%;
}

.main-div {
    margin: 80px 50px;
    display: flex;
    justify-content: center;
}

.inner-div {
    width: 40wv;
    background-color: rgb(46, 147, 220);
    padding: 3rem 8rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgb(73, 182, 114);

}

.inner-div h2 {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 1rem 0 4rem 0;

}

.inner-div li {
    font-size: 2rem;
    margin-top: 1.5rem;
    list-style: none;
    
}

input {
    cursor: pointer;
}

#submit, btn {
    padding: 1rem 3rem;
    outline: none;
    font-size: 2rem;
    font-size: 400;
    display: block;
    margin: auto;
    border: none;
    color: rgb(23, 78, 126);
    background-color: #2ecc71;
    margin-top: 4rem;
    transition: 0.5s;

}

#submit:hover {
    background-color: #3284b0;
}

#show-score {
    background-color: #2ecc71;
    margin-top: 3rem;
    padding: 3rem 4rem;
    box-shadow: 0 1rem 1rem -0.7rem rgb(66, 145, 96);
}

#show-score h3{
    font-size: 3rem;
    text-align: center;
}

#show-score .btn{
    display: block;
    margin-top: 2rem;
    background-color: rgb(46, 130, 130);
    color: rgb(18, 18, 18);
}


.scoreArea {
    display: none;
}